<!DOCTYPE html>
<html lang="en" id="main-layout">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <partial name="_CSSPartial"></partial>
</head>
<body>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery-ui.min.js" asp-append-version="true"></script>
    <partial name="_Header"></partial>
    <div class="main-content">
    <div class="main-reloading" id="main-reloading" runat="server"></div>
    <partial name="_Sidebar"></partial>
    <div class="main-page" id="main-page">
        @RenderBody()
    </div>
</div>
<partial name="_JSPartial"></partial>
@RenderSection("Scripts", required: false)
@RenderSection("Modals", required: false)
<script>
        $(document).ready(function() {
            const reload = $('div[id$=main-reloading]');
            
            reload.hide();
            $('.main-link').on("click", function(event) {
                $('.main-link').each(function(index, object) {
                   if (object.className.indexOf('main-link-active') !== -1) {
                       object.className = object.className.replace(' main-link-active', '');
                   } 
                   });
                   const object = $(event.target);   
                   object.addClass('main-link-active');
                   // reload.show();
                   event.preventDefault();
                   const url = $(this).attr("href");
                   $.get(url).done(function(result) {
                       $('#main-page').html(result);
                   }).fail(function(a, b, c) {
                       console.log('It is error');
                       console.log(c);
                       handleErrorPage();
                });
           });
           
            const handleNavMenu = $('.nav-menu');
            handleNavMenu.find('a').on('click', function(event) {    
                event.preventDefault();
                $('.main-link').each(function(index, object) {
                if (object.className.indexOf('main-link-active') !== -1) {
                        object.className = object.className.replace(' main-link-active', '');
                    } 
                });
                // reload.show();
                const url = $(this).attr("href");
                console.log(url);
                $.get(url).done(function(result) {
                    $('#main-page').html(result);
                    }).fail(function(a, b, c) {
                    console.log('It is error');
                    console.log(c);
                    handleErrorPage();
                });
            });
           
           
           function handleErrorPage() {
               const url = '@Url.Action("ErrorPage", "Home")';
               $.ajax({
                   type: 'GET',
                   url: url,
                   cache: true
               }).done(function(res) {
                   $('#main-page').empty().append(res);
                   reload.hide();
               })
           }
        });
    </script>
</body>
</html>
